<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{HH:mm:ss.SSS}] [%thread/%level] [%logger{36}] %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.apache.http.impl.execchain.RetryExec"
		level="WARN">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>