html{
    height: 100%;
    width: 100%;
}

p{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.head{
    height: 60px;
    width: 100%;
    background-color: #009688;
    color: #fff;
    box-shadow: #000 0px 0px 6px;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.head:hover{
    box-shadow: #000 0px 0px 12px;
}

.head .title{
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: #000 1px 1px 2px;
    margin-left: 20px;
    display: inline-block;
}

.head .subtitle{
    line-height: 60px;
    display: inline-block;
    color: #f5f5f5;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    text-shadow: #000 1px 1px 1px;
    text-decoration: none;
}

.head #status{
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: #000 1px 1px 2px;
    margin-right: 40px;
    float: right;
}

.body{
    margin: 20px 40px;
}

.body .gauge{
    height: 350px;
    width: 350px;
    display: inline-block;
    margin-left: calc(((100% - 350px) / 2) - 350px)
}

.body .line{
    display: inline-block;
    width: calc(45%);
    height: calc(100vh - 470px);
}

#line-1{
    float: left;
}

#line-2{
    float: right;
}